body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

h1 {
    text-align: center;
    padding: 20px;
    background-color: #222;
    color: #fff;
    margin: 0;
    font-size: 2.5rem;
}

#film-list {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    padding: 20px;
}

#film-list div {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    padding: 15px;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

#film-list div:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

#film-list h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #222;
}


#film-list p {
    margin: 5px 0;
}


#film-list a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    text-decoration: none;
    background-color: #007BFF;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#film-list a:hover {
    background-color: #0056b3;
}

#film-list hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 15px 0;
}

@media (max-width: 600px) {
    #film-list div {
        width: 100%;
    }
}
